*.apng binary
*.avif binary
*.bmp binary
*.gif binary
*.heif binary
*.jpg binary
*.j2k binary
*.jp2 binary
*.jls binary
*.jxl binary
*.jxr binary
*.jxs binary
*.lerc2 binary
*.ljpg binary
*.png binary
*.qoi binary
*.rgbe binary
*.tif binary
*.webp binary
*.zfp binary
